.home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 238, 238);
}
.home-container{
    margin: 2rem;
    width: 80rem;
    height: 92vh;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 0.3fr 2fr;
    gap: 1.545rem;
}
.home-nav-bar{
    
}
.home-main-content{
    grid-row-start: span 2;
}
.home-side-content{

}
.home-content{
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.3125rem 0.3125rem 0.3125rem grey ;
    
}
@media (max-width: 768px){
    
.home-container{
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.35fr
}    
}